<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Library.Data.Properties.Settings.libraryConnectionString"
            connectionString="Data Source=DELL-LAT5490-2;Initial Catalog=library;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>